@charset "UTF-8";

@media screen and (min-width: 768px) {
    main{
        background: linear-gradient(225deg, var(--cor01), var(--cor02));
    }
    
    section#login{
        width: 700px;
        height: 367.2px;
    }

    div#imagem{
        display:inline-block;
        width: 33%;
        height: 100%;
    }
    
    div#formulario{
        display: inline-block;
        width: 67%;

        position: absolute;
        top: 50%;
        transform: translatey(-50%);
    }
}