@charset "UTF-8";

:root{
    --cor01: #8C6FB1;
    --cor02: #32A3CF;
    --cor03: #607ED4;
    --cor04: #a2b0d5;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, main{
    width: 100vw;
    height: 100vh;
    background: var(--cor03);
}

main{
    position: relative;
    padding: 10px;
}

section#login{
    background-color: white;
    width: 90vw;
    height: 550px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.351);

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    transition: width .5s ease, height .5s ease;
}

div#imagem{
    display: block;
    background: var(--cor03) url(../imagens/pattern.jpg) no-repeat center;
    background-size: cover;
    height: 200px;
}

div#formulario{
    display: block;
    padding: 10px;
}

div#formulario h1{
    text-align: center;
}

div#formulario{
    h1, p, input{
    margin-bottom: 10px;
    }
}

/* div#formulario input{
    width: 100%;
    background-color: var(--cor04);
    padding: 5px;
    border: 1px solid var(--cor01);
}

div#formulario  p.botao input{
    padding: 10px;
    background-color: var(--cor03);
} */
